@import "tailwindcss";

@layer utilities {
    .mandara-btn {
        @apply bg-[#603434] text-white font-serif rounded-lg hover:bg-[#301414] transition;
    }

    .input-field {
        @apply border p-2 rounded-lg bg-white border-gray-300 w-full focus:ring-2 focus:ring-red-400;
    }

    button:hover {
        cursor: pointer;
    }

    select:hover {
        cursor: pointer;
    }
}

html, body {
    background-color: #502424; /* Same as your app background */
    color: #502424; /* Match your text color */
}
